.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    z-index: 9999;
    width: 500px;
    border-radius: 10px;
    overflow-y: scroll;
    height: 400px;

  .title {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
  }

  .close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 50px 0;

    .input {
        border: 2px solid #AAA;
        border-radius: 10px;
        width: 100%;
        height: 35px;
        padding: 0 10px;

        &:focus {
            outline: none;
        }
    }

    .buttons {
        bottom: 10px;
        right: 10px;
        margin: 20px 0 0 0;
        display: flex;
        gap: 10px;

        .buttonDelete {
            border-radius: 10px;
            width: 100px;
            height: 35px;
            background-color: red;
            color: #FFF;
        }

        .buttonAdd {
            border-radius: 10px;
            min-width: 100px;
            padding: 0 20px;
            height: 35px;
            background-color: #A4DAF8;
            color: #FFF;
        }
    }
  }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    cursor: pointer;
}